[Unit]
Description=Adrian Galvez Django App (Gunicorn)
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Type=notify
User=kike
Group=kike
WorkingDirectory=/home/kike/proyectos/adrianmma

Environment="GUNICORN_WORKERS=4"
Environment="GUNICORN_BIND=unix:/run/kike/adrian.sock"

EnvironmentFile=/home/kike/proyectos/adrianmma/.env
Environment=DJANGO_SETTINGS_MODULE=adrian.settings

ExecStart=/home/kike/proyectos/adrianmma/.venv/bin/gunicorn \
    --config /home/kike/proyectos/adrianmma/deploy/gunicorn.conf.py \
    adrian.wsgi:application

Restart=on-failure
RestartSec=5

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target





